//
// Variables
//
// Either Twitter Bootstrap's "variables.less" or this package's
//  "default-variables.less" should be loaded before this file.
// -------------------------------------------------------------

$zindex-navmenu-fixed:     1030 !default;
$zindex-alert-fixed:       1035 !default;

$container-smooth:         $container-lg !default;

$alert-fixed-width:        $screen-md-min !default;

$atmosphere-font: "Helvetica Neue", Helvetica, Arial, sans-serif;


//========================================================= Navmenu

// Basics of a navmenu
$navmenu-width:                     300px !default;
$navmenu-margin-vertical:           (0.5 * $line-height-computed) !default;
$navmenu-default-color:             #777 !default;
$navmenu-default-bg:                #f8f8f8 !default;
$navmenu-default-border:            darken($navmenu-default-bg, 6.5%) !default;

// Navmenu links
$navmenu-default-link-color:                #777 !default;
$navmenu-default-link-hover-color:          #333 !default;
$navmenu-default-link-hover-bg:             transparent !default;
$navmenu-default-link-active-color:         #555 !default;
$navmenu-default-link-active-bg:            darken($navmenu-default-bg, 6.5%) !default;
$navmenu-default-link-disabled-color:       #ccc !default;
$navmenu-default-link-disabled-bg:          transparent !default;

// Navmenu brand label
$navmenu-default-brand-color:               $navmenu-default-link-color !default;
$navmenu-default-brand-hover-color:         darken($navmenu-default-link-color, 10%) !default;
$navmenu-default-brand-hover-bg:            transparent !default;


//========================================================= Navbar
$navbar-bgcolor: #f8f8f8;
